* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding doesn't exceed width */
}

body {
  min-width: 310px;
  max-width: 800px;
  height: 400px;
  margin: 0 ;
  padding : 0;
}

h2 {
  font-family: Arial;
  font-size: 2.5rem;
  text-align: center;
}

table {
  border: 1px solid black;
  padding : 1px;
  float : left;
}

th, td {
  border: 1px solid black;
  padding : 1px;
}

.layout_1x3 {
  width: 100%;

  display: flex;
  gap: 8px;
}

.layout_1x2 {
  width: 100%;

  display: flex;
  gap: 8px;
}

.cell_voltage {
  font-size: medium;
}
